#set($title="查看所有商品")
#set($menu=2)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    #parse("/WEB-INF/vm/common/top.vm")
    <div class="row">&nbsp;</div>
    <div class="row">
        <form id="f1" name="f1" method="post">
            <div class="input-group col-xs-7">
                <input id="itemCode" name="itemCode" type="text" value="$!resultMap.item.itemCode" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <ul id="itemNameList" class="dropdown-menu">
                </ul>
                <div class="input-group-btn">
                    <button type="button" onclick="search(1)" id="searchButton" class="btn btn-default">
                        查询商品
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品编号</th>
                <th>商品名称</th>
                <th>单位</th>
                <th>库存数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($detail in $!resultMap.itemList)
                    <tr>
                        <td><input type="text" id="itemCode$!detail.itemId" value="$!detail.itemCode" /></td>
                        <td>$!detail.itemName</td>
                        <td>
                            <select name="referenceUnit$!detail.itemId" id="referenceUnit$!detail.itemId">
                                <option value="1" #if($!detail.referenceUnit==1)selected="selected"#end>斤</option>
                                <option value="2" #if($!detail.referenceUnit==2)selected="selected"#end>个</option>
                                <option value="3" #if($!detail.referenceUnit==3)selected="selected"#end>箱</option>
                                <option value="4" #if($!detail.referenceUnit==4)selected="selected"#end>袋</option>
                                <option value="5" #if($!detail.referenceUnit==5)selected="selected"#end>盒</option>
                            </select>
                        </td>
                        <td><input type="text" id="stockNum$!detail.itemId" value="$!detail.stockNum" /></td>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="update($!detail.itemId)" type="button">
                                修改
                            </button>
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                #if($!resultMap.itemList.previousPageAvailable) ##如果能向上翻页
                    <li><a href="javascript:search($!resultMap.itemList.previousPage);">上一页</a></li>
                #end

                <li class="active"><a href="#">$!resultMap.itemList.index</a></li>
                #if($!resultMap.itemList.nextPageAvailable) ##显示后面的页
                    <li><a href="javascript:search($!resultMap.itemList.nextPage);" >下一页</a></li>
                #end
            </ul>
        </nav>
    </div>
</div>
<script type="application/javascript">

    $("#itemCode").keyup(function(){
        var itemCode = $("#itemCode").val();
        if(!itemCode){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/product/vagueQuery",
            type : "post",
            dataType : "json",
            data : "itemCode="+itemCode,
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e.itemCode+'\');">'+ e.itemCode + e.itemName+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });



    function clickIt(itemCode, itemName, itemId){
        $("#itemCode").val(itemCode);
    }

    function search(index){
        $("#pageNo").val(index);
        $("#f1").attr("action", "/product/itemList");
        $("#f1").attr("method", "post");
        $("#f1").submit();
    }

    function update(id){
        var referenceUnit = $("#referenceUnit"+id).val();
        var stockNum = $("#stockNum"+id).val();
        var itemCode = $("#itemCode"+id).val();
        jQuery.ajax( {
            url : "/product/updateReference",
            type : "post",
            dataType : "json",
            data : "itemId="+id+"&referenceUnit="+referenceUnit + "&stockNum="+stockNum+"&itemCode="+itemCode,
            success : function(data) {
                if (data.success == true) {
                    alert("修改成功");
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    }

</script>
#parse("/WEB-INF/vm/common/bottom.vm")