<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="就是看看bootstrap" name="description">
    <meta content="缤纷果园 鲜果味道" name="keywords">
    <title>查看所有商品</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">采购管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/purchase/index">查看采购单</a></li>
                        <li class="divider"></li>
                        <li><a href="/purchaseTemplate/index">查看采购单模板</a></li>
                    </ul>
                </li>
                <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">商品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/product/itemList">查看所有商品</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">结算管理<b class="caret bottom-up"></b></a>
                    <ul class="dropdown-menu bottom-up pull-right">
                        <li><a href="#">日结算单</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <form id="f1" name="f1" method="post">
            <input type="hidden" value="$!resultMap.item.index" name="pageNo" id="pageNo" />
            <div class="input-group col-xs-7">
                <input id="itemName" name="itemName" type="text" value="$!resultMap.item.itemName" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                <ul id="itemNameList" class="dropdown-menu">
                </ul>
                <div class="input-group-btn">
                    <button type="button" onclick="search(1)" id="searchButton" class="btn btn-default">
                        查询商品
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">&nbsp;</div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品名称</th>
                <th>参考进价</th>
                <th>参考售价</th>
            </tr>
            </thead>
            <tbody>
                #foreach($detail in $!resultMap.itemList)
                    <tr>
                        <td>$!detail.itemName</td>
                        <td>$!bigDecimalUtils.intDivide100ToBigDecimal($!detail.referenceStockPrice)/#if($!detail.referenceUnit==1)斤#elseif($!detail.referenceUnit==2)个#elseif($!detail.referenceUnit==3)箱#elseif($!detail.referenceUnit==4)袋#elseif($!detail.referenceUnit==5)盒#end</td>
                        <td>$!bigDecimalUtils.intDivide100ToBigDecimal($!detail.referenceSellPrice)/#if($!detail.unit==1)斤#elseif($!detail.unit==2)个#elseif($!detail.unit==3)箱#elseif($!detail.unit==4)袋#elseif($!detail.unit==5)盒#end</td>
                    </tr>
                #end
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                #if($!resultMap.itemList.previousPageAvailable) ##如果能向上翻页
                    <li><a href="javascript:search($!resultMap.itemList.previousPage);">上一页</a></li>
                #end

                <li class="active"><a href="#">$!resultMap.itemList.index</a></li>
                #if($!resultMap.itemList.nextPageAvailable) ##显示后面的页
                    <li><a href="javascript:search($!resultMap.itemList.nextPage);" >下一页</a></li>
                #end
            </ul>
        </nav>
    </div>
</div>
<script type="application/javascript">

    $("#itemName").keyup(function(){
        var itemName = $("#itemName").val();
        if(!itemName){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/vagueQuery",
            type : "post",
            dataType : "json",
            data : "itemName="+$("#itemName").val(),
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e+'\');">'+e+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });

    });


    function clickIt(itemName){
        $("#itemName").val(itemName);
    }

    function search(index){
        $("#pageNo").val(index);
        $("#f1").attr("action", "/product/itemList");
        $("#f1").attr("method", "post");
        $("#f1").submit();
    }

</script>
</body>
</html>