#set($title="查看采购单")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    #parse("/WEB-INF/vm/common/top.vm")

    <form class="form-horizontal">
        <div class="row">&nbsp;</div>
        <div class="input-group col-xs-7">
            <input id="itemName" type="text" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <ul id="itemNameList" class="dropdown-menu">
            </ul>
            <div class="input-group-btn">
                <button type="button" id="insert" class="btn btn-default">
                    新增商品
                </button>
            </div>
        </div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">采购人姓名：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!purchase.purchaseName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">采购总金额：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!bigDecimalUtils.intDivide100ToBigDecimal($!purchase.totalPrice)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">采购地点：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!purchase.purchasePlace">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">当前状态：</span>
                        <input type="text" class="form-control" readonly="readonly" value="#if($!purchase.status==0)采购中 #else 采购完成#end">
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">采购日期：</span>
                        <input id="purchaseTime" type="date" class="form-control" value="$!dateFormatUtils.format($!{purchase.purchaseTime}, "yyyy-MM-dd")">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">其他费用：</span>
                        <input id="purchasePrice" type="number" class="form-control" value="$!bigDecimalUtils.intDivide100ToBigDecimal($!purchase.purchasePrice)">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">费用明细：</span>
                        <input id="purchasePriceDetail" type="text" class="form-control" value="$!purchase.purchasePriceDetail">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">采购备注：</span>
                        <input id="remark" type="text" class="form-control" value="$!purchase.remark">
                    </div>
                </div>
            </div>
        </div>

        #if($!purchase.status==0)
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label"><button type="button" id="updatePurchaseButton" class="btn btn-default">采购完成</button></label>
            </div>
        #end
    </form>

    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="16%">商品</th>
                <th width="18%">参考价</th>
                <th width="18%">进货数量</th>
                <th width="18%">进货金额</th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($detail in $!purchaseItemList)
                <tr>
                    <td>$!detail.itemName</td>
                    <td>$!bigDecimalUtils.intDivide100ToBigDecimal($!{detail.referenceStockPrice})/#if($!detail.referenceUnit==1)斤#elseif($!detail.referenceUnit==2)个#elseif($!detail.referenceUnit==3)箱#elseif($!detail.referenceUnit==4)袋#elseif($!detail.referenceUnit==5)盒#end</td>
                    <td><input id="num$!detail.id" type="number" style="width: 70px;" value="$!detail.num" /></td>
                    <td>
                        <input id="totalPrice$!detail.id" type="number" style="width: 70px;" value="$!bigDecimalUtils.intDivide100ToBigDecimal($!detail.totalPrice)" />
                    </td>
                    <td>
                        #if($!purchase.status==0)
                            <button class="btn btn-default btn-sm" onclick="update($!detail.id)" type="button">
                                修改
                            </button>

                            <button class="btn btn-default btn-sm" onclick="del($!detail.id)" type="button">
                                删除
                            </button>
                        #end
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">

    $("#updatePurchaseButton").click(function(){
        var purchaseTime = $("#purchaseTime").val();
        var purchasePrice = $("#purchasePrice").val();
        var purchasePriceDetail = $("#purchasePriceDetail").val();
        var remark = $("#remark").val();
        var params = "id="+$!purchase.id;
        if(purchaseTime){
            params += "&purchaseDate="+purchaseTime;
        }
        if(purchasePrice){
            params += "&purchasePrice="+(purchasePrice*100);
        }
        if(purchasePriceDetail){
            params += "&purchasePriceDetail="+purchasePriceDetail;
        }
        if(remark){
            params += "&remark="+remark;
        }


        jQuery.ajax( {
            url : "/purchase/update",
            type : "post",
            dataType : "json",
            data : params,
            success : function(data) {
                if (data.success == true) {
                    alert("修改成功！");
                    window.location.reload(true);
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    $("#itemName").keyup(function(){
        var itemName = $("#itemName").val();
        if(!itemName){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/vagueQuery",
            type : "post",
            dataType : "json",
            data : "purchaseTemplateId=$!{purchaseTemplateItem.id}&itemName="+$("#itemName").val(),
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e+'\');">'+e+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });

    });


    function clickIt(itemName){
        $("#itemName").val(itemName);
    }

    $("#insert").click(function(){
        if(!$("#itemName").val()){
            alert("请输入商品名称");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseItem/insert",
            type : "post",
            dataType : "json",
            data : "itemName="+$("#itemName").val()+"&purchaseId="+$!purchase.id,
            success : function(data) {
                if (data.success == true) {
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    function update(id){
        var num = $("#num"+id).val();
        var totalPrice = $("#totalPrice"+id).val();
        if(!num || num == 0){
            alert("进货数量不能为空！");
            return;
        }
        if(!totalPrice || totalPrice == 0){
            alert("进货金额不能为空！");
            return;
        }

        jQuery.ajax( {
            url : "/purchaseItem/update",
            type : "post",
            dataType : "json",
            data : "id="+id+"&num="+num+"&totalPrice="+totalPrice,
            success : function(data) {
                if (data.success == true) {
                    alert("修改成功！");
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    }

    function del(id){
        if(confirm("确认要删除吗？")){
            jQuery.ajax( {
                url : "/purchaseItem/delete",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        alert("删除成功！");
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")