<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="就是看看bootstrap" name="description">
    <meta content="缤纷果园 鲜果味道" name="keywords">
    <title>采购单管理</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">采购管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/purchase/index">查看采购单</a></li>
                        <li class="divider"></li>
                        <li><a href="/purchaseTemplate/index">查看采购单模板</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">商品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/product/itemList">查看所有商品</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">结算管理<b class="caret bottom-up"></b></a>
                    <ul class="dropdown-menu bottom-up pull-right">
                        <li><a href="#">日结算单</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <button class="btn btn-default" onclick="window.location.href='/purchase/add'" type="button">
            新增采购单
        </button>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>采购人</th>
                <th>采购地点</th>
                <th>采购总额</th>
                <th>采购日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($detail in $list)
                    <tr>
                        <td>$!detail.purchaseName</td>
                        <td>$!detail.purchasePlace</td>
                        <td>$!detail.totalPrice</td>
                        <td>$!dateFormatUtils.format($!{detail.purchaseTime}, "yyyy-MM-dd")</td>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="window.location.href='/purchase/detail?id=$!detail.id'" type="button">
                                查看
                            </button>
                            <button class="btn btn-default btn-sm" onclick="del($!detail.id);" type="button">
                                删除
                            </button>
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">
    function del(id){
        if(confirm("确定删除？")){
            jQuery.ajax( {
                url : "/purchase/delete",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        window.location.reload();
                    }else{
                        alert("系统异常！请重试");
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }

    }

</script>
</body>
</html>