<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="就是看看bootstrap" name="description">
    <meta content="缤纷果园 鲜果味道" name="keywords">
    <title>$!purchaseTemplate.purchaseTemplateName</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span6">
            <ul class="nav nav-tabs">
                <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">采购管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/purchase/index">查看采购单</a></li>
                        <li class="divider"></li>
                        <li><a href="/purchaseTemplate/index">查看采购单模板</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">商品管理<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/product/itemList">查看所有商品</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">结算管理<b class="caret bottom-up"></b></a>
                    <ul class="dropdown-menu bottom-up pull-right">
                        <li><a href="#">日结算单</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="input-group col-xs-7">
            <input id="itemName" type="text" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <ul id="itemNameList" class="dropdown-menu">
            </ul>
            <div class="input-group-btn">
                <button type="button" id="insert" class="btn btn-default">
                    新增商品
                </button>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($detail in $!purchaseTemplateItem)
                <tr>
                <td>$!detail.itemName</td>
                    <td>
                        <button onclick="del($!detail.id);" class="btn btn-default btn-sm" type="button">
                            删除
                        </button>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
</body>

<script type="application/javascript">
    $("#itemName").keyup(function(){
        var itemName = $("#itemName").val();
        if(!itemName){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/vagueQuery",
            type : "post",
            dataType : "json",
            data : "purchaseTemplateId=$!{purchaseTemplateItem.id}&itemName="+$("#itemName").val(),
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e+'\');">'+e+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });

    });


    function clickIt(itemName){
        $("#itemName").val(itemName);
    }

    $("#insert").click(function(){
        if(!$("#itemName").val()){
            alert("请输入商品名称");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/insert",
            type : "post",
            dataType : "json",
            data : "itemName="+$("#itemName").val()+"&purchaseTemplateId="+$!purchaseTemplate.id,
            success : function(data) {
                if (data.success == true) {
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    function del(id){
        if(confirm("确认要删除吗？")){
            jQuery.ajax( {
                url : "/purchaseTemplateItem/delete",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }
    }
</script>
</html>