#set($title="查看采购单模板")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    #parse("/WEB-INF/vm/common/top.vm")
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="input-group col-xs-7">
            <input id="itemName" type="text" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <ul id="itemNameList" class="dropdown-menu">
            </ul>
            <div class="input-group-btn">
                <button type="button" id="insert" class="btn btn-default">
                    新增商品
                </button>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>商品</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($detail in $!purchaseTemplateItem)
                <tr>
                <td>$!detail.itemName</td>
                    <td>
                        <button onclick="del($!detail.id);" class="btn btn-default btn-sm" type="button">
                            删除
                        </button>
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">
    $("#itemName").keyup(function(){
        var itemName = $("#itemName").val();
        if(!itemName){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/vagueQuery",
            type : "post",
            dataType : "json",
            data : "purchaseTemplateId=$!{purchaseTemplateItem.id}&itemName="+$("#itemName").val(),
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e+'\');">'+e+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });

    });


    function clickIt(itemName){
        $("#itemName").val(itemName);
    }

    $("#insert").click(function(){
        if(!$("#itemName").val()){
            alert("请输入商品名称");
            return;
        }
        jQuery.ajax( {
            url : "/purchaseTemplateItem/insert",
            type : "post",
            dataType : "json",
            data : "itemName="+$("#itemName").val()+"&purchaseTemplateId="+$!purchaseTemplate.id,
            success : function(data) {
                if (data.success == true) {
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    function del(id){
        if(confirm("确认要删除吗？")){
            jQuery.ajax( {
                url : "/purchaseTemplateItem/delete",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")