#set($title="查看活动")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="input-group col-xs-7">
           <input id="userNmae" type="text" class="form-control" value="$!query.userNmae">
            <div class="input-group-btn">
                <button type="button" id="insert" class="btn btn-default" onclick="doSearch();">
                    查询姓名
                </button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>用户姓名</th>
                <th>用户手机号</th>
                <th>公司</th>
                <th>类别</th>
                <th>当前状态</th>
                <th>申请时间</th>
                <th>审核人</th>
                <th>审核通过时间</th>
            </tr>
            </thead>
            <tbody>
                #foreach($detail in $list)
                    <tr>
                        <td>$!detail.userName</td>
                        <td>$!detail.userMobile</td>
                        <td>$!detail.company</td>
                        <td>
                            #if($!detail.type == 1)
                                普通分销商
                            #elseif($!detail.type == 2)
                                高级分销商
                            #elseif($!detail.type == 3)
                                B2B商家
                            #end
                        </td>
                        <td>
                            #if($!detail.status == 0)
                                申请中
                            #elseif($!detail.status == 1)
                                审核通过
                            #elseif($!detail.status == 2)
                                已拒绝
                            #end
                        </td>
                        <td>$!dateFormatUtils.format($!{detail.created}, "yyyy-MM-dd")</td>
                        <td>$!detail.agreeUserName</td>
                        <td>$!dateFormatUtils.format($!{detail.agreeTime}, "yyyy-MM-dd")</td>

                        <td>
                            #if($!detail.status == 0)
                                <button class="btn btn-default btn-sm" onclick="update($!detail.id,1,$!detail.type);" type="button">
                                    审核通过
                                </button>
                            #end
                            #if($!detail.status == 0)
                                <button class="btn btn-default btn-sm" onclick="update($!detail.id,2,$!detail.type);" type="button">
                                    审核拒绝
                                </button>
                            #end
                            #if($!detail.status != 2 && $!detail.type == 1)
                                <button class="btn btn-default btn-sm" onclick="update($!detail.id,1,2);" type="button">
                                    提升为高级分销商
                                </button>
                            #end
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                #if($!list.previousPageAvailable) ##如果能向上翻页
                    <li><a href="javascript:search($!list.previousPage);">上一页</a></li>
                #end

                <li class="active"><a href="#">$!list.index</a></li>
                #if($!list.nextPageAvailable) ##显示后面的页
                    <li><a href="javascript:search($!list.nextPage);" >下一页</a></li>
                #end
            </ul>
        </nav>
    </div>
</div>
<script type="application/javascript">
    function search(index){
        window.location.href="/cooperationBusiness/index?pageNo="+index;
    }


    function update(id,status,type){
        if(confirm("确定改操作？")){
            jQuery.ajax( {
                url : "/cooperationBusiness/updateStatus",
                type : "post",
                dataType : "json",
                data : "cooperationBusiness="+id+"&status="+status+"&type="+type,
                success : function(data) {
                    if (data.success == true) {
                        alert("操作成功");
                        window.location.reload();
                    }else{
                        alert("系统异常！请重试");
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }

    }

    function doSearch(){
        window.location.href="/cooperationBusiness/index?userNmae="+$("#userNmae").val();
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")