#set($title="查看订货单")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">

    <form class="form-horizontal">
        <input id="deliverId" type="hidden" value="$!deliver.id" >
        <div class="row">&nbsp;</div>
        #if($!deliver.status==0)
            <input id="itemId" type="hidden" value="" >
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">商品编码：</span>
                            <input id="itemCode" type="text" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <ul id="itemNameList" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">配送单位：</span>
                            <select id="unit">
                                <option value="斤">斤</option>
                                <option value="箱">箱</option>
                                <option value="盒">盒</option>
                                <option value="袋">袋</option>
                                <option value="个">个</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">商品名称：</span>
                            <input type="text" id="itemName" class="form-control" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">配送数量：</span>
                            <input type="text" id="actualNum" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label"><button type="button" id="addButton" class="btn btn-default">添加配送商品</button></label>
            </div>

        #end

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">店铺名称：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!deliver.shopName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">配送日期：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!dateFormatUtils.format($!{deliver.deliverDate}, "yyyy-MM-dd")">
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">创建人：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!deliver.userName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">备注：</span>
                        <input type="text" class="form-control" id="remark" value="$!deliver.remark">
                    </div>
                </div>
            </div>
        </div>

        #if($!deliver.status==0)
            <div class="form-group">
                <label for="" class="col-sm-2 control-label"><button type="button" id="updateButton" class="btn btn-default">提交配送单</button></label>
            </div>
        #end
    </form>

    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="20%">商品编码</th>
                <th width="20%">商品名称</th>
                <th width="15%">单位</th>
                <th width="25%">订货/实际配送</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($detail in $!list)
                <tr>
                    <td>$!detail.itemCode</td>
                    <td>$!detail.itemName</td>
                    <td>
                        $!detail.unit
                    </td>
                    <td>$!detail.reserveNum/<input type="text" #if($!deliver.status==1)readonly="readonly"#end id="actualNum_$!detail.id" value="$!detail.actualNum" /></td>
                    <td>
                        #if($!deliver.status==0)
                            <button class="btn btn-default btn-sm" onclick="updateDeliverNum($!detail.id)" type="button">
                                修改
                            </button>
                            <button class="btn btn-default btn-sm" onclick="del($!detail.id)" type="button">
                                删除
                            </button>
                        #end
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">

    $("#updateButton").click(function(){
        if(confirm("确认提交？")){
            jQuery.ajax( {
                url : "/deliver/updateStatus",
                type : "post",
                dataType : "json",
                data : "id="+$("#deliverId").val()+"&remark="+$("#remark").val(),
                success : function(data) {
                    if (data.success == true) {
                        alert("修改成功！");
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }

    });

    $("#itemCode").keyup(function(){
        var itemCode = $("#itemCode").val();
        if(!itemCode){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/product/vagueQuery",
            type : "post",
            dataType : "json",
            data : "itemCode="+itemCode,
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        if(e.itemCode == null){
                            list += '<li><a href="#" onclick="clickIt(\''+e.itemCode+'\',\''+ e.itemName+'\',\''+ e.itemId+'\');">无编号 - ' + e.itemName+'</a></li>';
                        }else{
                            list += '<li><a href="#" onclick="clickIt(\''+e.itemCode+'\',\''+ e.itemName+'\',\''+ e.itemId+'\');">'+ e.itemCode +' - '+ e.itemName+'</a></li>';
                        }
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });



    function clickIt(itemCode, itemName, itemId){
        $("#itemCode").val(itemCode);
        $("#itemName").val(itemName);
        $("#itemId").val(itemId);
    }

    $("#addButton").click(function(){
        var itemCode = $("#itemCode").val();
        var itemId = $("#itemId").val();
        var itemName = $("#itemName").val();
        var actualNum = $("#actualNum").val();
        var unit = $("#unit").val();
        var deliverId = $("#deliverId").val();

        if(!itemCode){
            alert("请输入商品编码");
            return;
        }
        if(!actualNum){
            alert("请输入配送数量");
            return;
        }
        jQuery.ajax( {
            url : "/deliver/addDeliverItem",
            type : "post",
            dataType : "json",
            data : "itemCode="+itemCode+"&actualNum="+actualNum+"&unit="+unit+"&itemName="+itemName+"&deliverId="+deliverId+"&itemId="+itemId,
            success : function(data) {
                if (data.success == true) {
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    function updateDeliverNum(id){
        var actualNum = $("#actualNum_"+id).val();

        jQuery.ajax( {
            url : "/deliver/updateDeliverNum?actualNum="+actualNum+"&id="+id,
            type : "post",
            dataType : "json",
            data : "id="+id,
            success : function(data) {
                if (data.success == true) {
                    alert("修改成功");
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    }

    function del(id){
        if(confirm("确认要删除吗？")){
            jQuery.ajax( {
                url : "/deliver/deleteDeliverItem",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        alert("删除成功！");
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")