#set($title="查看订货单")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">

    <form class="form-horizontal">
        <input id="reserveId" type="hidden" value="$!reserve.id" >
        <div class="row">&nbsp;</div>
        #if($!reserve.status==0)
            <input id="itemId" type="hidden" value="" >
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">商品编码：</span>
                            <input id="itemCode" type="text" class="form-control dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <ul id="itemNameList" class="dropdown-menu">
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">订购单位：</span>
                            <select id="unit">
                                <option value="斤">斤</option>
                                <option value="箱">箱</option>
                                <option value="盒">盒</option>
                                <option value="袋">袋</option>
                                <option value="个">个</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">商品名称：</span>
                            <input type="text" id="itemName" class="form-control" readonly="readonly">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">订购数量：</span>
                            <input type="text" id="num" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="" class="col-sm-2 control-label"><button type="button" id="addButton" class="btn btn-default">添加订购商品</button></label>
            </div>

        #end

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">店铺名称：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!reserve.shopName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">订购日期：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!dateFormatUtils.format($!{reserve.reserveDate}, "yyyy-MM-dd")">
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">订购人：</span>
                        <input type="text" class="form-control" readonly="readonly" value="$!reserve.userName">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">备注：</span>
                        <input type="text" class="form-control" id="remark" value="$!reserve.remark">
                    </div>
                </div>
            </div>
        </div>

        #if($!reserve.status==0)
            <div class="form-group">
                <label for="" class="col-sm-2 control-label"><button type="button" id="updateButton" class="btn btn-default">提交订购</button></label>
            </div>
        #end
    </form>

    <div class="row">&nbsp;</div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="25%">商品编码</th>
                <th width="25%">商品名称</th>
                <th width="15%">单位</th>
                <th width="15%">数量</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <tbody>
            #foreach($detail in $!list)
                <tr>
                    <td>$!detail.itemCode</td>
                    <td>$!detail.itemName</td>
                    <td>
                        $!detail.unit
                    </td>
                    <td>$!detail.num</td>
                    <td>
                        #if($!reserve.status==0)
                            <button class="btn btn-default btn-sm" onclick="del($!detail.id)" type="button">
                                删除
                            </button>
                        #end
                    </td>
                </tr>
            #end
            </tbody>
        </table>
    </div>
</div>
<script type="application/javascript">

    $("#updateButton").click(function(){
        if(confirm("确认提交？")){
            jQuery.ajax( {
                url : "/reserve/updateStatus",
                type : "post",
                dataType : "json",
                data : "id="+$("#reserveId").val()+"&remark="+$("#remark").val(),
                success : function(data) {
                    if (data.success == true) {
                        alert("修改成功！");
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }

    });

    $("#itemCode").keyup(function(){
        var itemCode = $("#itemCode").val();
        if(!itemCode){
            $("#itemNameList").html("");
            return;
        }
        jQuery.ajax( {
            url : "/product/vagueQuery",
            type : "post",
            dataType : "json",
            data : "itemCode="+itemCode,
            success : function(data) {
                if (data.success == true) {
                    var list = "";
                    data.result.forEach(function(e){
                        list += '<li><a href="#" onclick="clickIt(\''+e.itemCode+'\',\''+ e.itemName+'\',\''+ e.itemId+'\');">'+ e.itemCode + e.itemName+'</a></li>';
                    })

                    $("#itemNameList").html(list);
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });



    function clickIt(itemCode, itemName, itemId){
        $("#itemCode").val(itemCode);
        $("#itemName").val(itemName);
        $("#itemId").val(itemId);
    }

    $("#addButton").click(function(){
        var itemCode = $("#itemCode").val();
        var itemId = $("#itemId").val();
        var itemName = $("#itemName").val();
        var num = $("#num").val();
        var unit = $("#unit").val();
        var reserveId = $("#reserveId").val();

        if(!itemCode){
            alert("请输入商品编码");
            return;
        }
        if(!num){
            alert("请输入订购数量");
            return;
        }
        jQuery.ajax( {
            url : "/reserve/addReserveItem",
            type : "post",
            dataType : "json",
            data : "itemCode="+itemCode+"&num="+num+"&unit="+unit+"&itemName="+itemName+"&reserveId="+reserveId+"&itemId="+itemId,
            success : function(data) {
                if (data.success == true) {
                    window.location.reload();
                }else{
                    alert(data.resultMessage);
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    });

    function del(id){
        if(confirm("确认要删除吗？")){
            jQuery.ajax( {
                url : "/reserve/deleteReserveItem",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        alert("删除成功！");
                        window.location.reload();
                    }else{
                        alert(data.resultMessage);
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")