#set($title="查看采购单")
#set($menu=1)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <button class="btn btn-default" onclick="window.location.href='/reserve/add'" type="button">
            新增订购单
        </button>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>店铺</th>
                <th>订购日期</th>
                <th>订购人</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                #foreach($detail in $list)
                    <tr>
                        <td>$!detail.shopName</td>
                        <td>$!dateFormatUtils.format($!{detail.reserveDate}, "yyyy-MM-dd")</td>
                        <td>$!detail.userName</td>
                        <td>$!detail.remark</td>
                        <td>
                            <button class="btn btn-default btn-sm" onclick="window.location.href='/reserve/detail?id=$!detail.id'" type="button">
                                查看
                            </button>
                            <button class="btn btn-default btn-sm" onclick="del($!detail.id);" type="button">
                                删除
                            </button>
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                #if($!list.previousPageAvailable) ##如果能向上翻页
                    <li><a href="javascript:search($!list.previousPage);">上一页</a></li>
                #end

                <li class="active"><a href="#">$!list.index</a></li>
                #if($!list.nextPageAvailable) ##显示后面的页
                    <li><a href="javascript:search($!list.nextPage);" >下一页</a></li>
                #end
            </ul>
        </nav>
    </div>
</div>
<script type="application/javascript">
    function search(index){
        window.location.href="/reserve/index?pageNo="+index;
    }

    function del(id){
        if(confirm("确定删除？")){
            jQuery.ajax( {
                url : "/reserve/delete",
                type : "post",
                dataType : "json",
                data : "id="+id,
                success : function(data) {
                    if (data.success == true) {
                        window.location.reload();
                    }else{
                        alert("系统异常！请重试");
                    }
                },
                error : function() {
                    alert("系统超时！请重试");
                }
            });
        }

    }

</script>
#parse("/WEB-INF/vm/common/bottom.vm")