#set($title="每日销售统计")
#set($menu=3)
#parse("/WEB-INF/vm/common/head.vm")
<div class="container">
    #parse("/WEB-INF/vm/common/top.vm")
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">统计日期：</span>
                    <input type="date" readonly="readonly" class="form-control" value="$!dateFormatUtils.format($!{detail.statisticsDate}, "yyyy-MM-dd")">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">时区：</span>
                    <input type="text" readonly="readonly" class="form-control" value="$!detail.timeInterval">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">店铺：</span>
                    <input type="text" readonly="readonly" class="form-control" value="$!detail.shopName">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">总销售金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.totalSalesPrice">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">入账金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.totalCashPrice">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">现金消费金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.cashSalesPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">会员卡消费金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.cardSalesPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">pos机消费金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.posSalesPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">支付宝消费金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.zfbSalesPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">现金办理会员卡金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.cashBuyCardPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">pos机办理会员卡金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.posBuyCardPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">支付宝办卡金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.zfbBuyCardPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">微信支付金额：</span>
                    <input readonly="readonly" class="form-control" value="$!detail.wxSalesPrice">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">采购备注：</span>
                    <input id="remark" type="text" class="form-control" value="$!detail.remark">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">创建人：</span>
                    <input type="text" readonly="readonly" class="form-control" value="$!detail.userName">
                </div>
            </div>
        </div>

    </div>
</div>

<script type="application/javascript">
    function doSubmit(){
        var purchaseTime = $("#purchaseTime").val();
        var purchasePlace = $("#purchasePlace").val();
        if(!purchaseTime){
            alert("采购日期不能为空");
            return;
        }
        if(!purchasePlace){
            alert("采购地点不能为空");
            return;
        }
        jQuery.ajax( {
            url : "/purchase/insert",
            type : "post",
            dataType : "json",
            data : "date="+purchaseTime+"&purchasePlace="+purchasePlace,
            success : function(data) {
                if (data.success == true) {
                    window.location.href="/purchase/index";
                }else{
                    alert("系统异常！请重试");
                }
            },
            error : function() {
                alert("系统超时！请重试");
            }
        });
    }
</script>
#parse("/WEB-INF/vm/common/bottom.vm")